  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <a href="index.html"><img class="trees-logo-image" src="<%= asset_path( 'toiletrees-web-logo.png' ) %>"></a>
    </div>
  </div>

  <div class="search-box">
    <div class="search-container">
      <input type="search" id="search" placeholder="Enter a location" />
    </div>
  </div>